# Metin On Isleme - Text Preprocess

In [34]:
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""
metin

"\nA Scandal in Bohemia! 01\nThe Red-headed League,2\nA Case, of Identity 33\nThe Boscombe Valley Mystery4\nThe Five Orange Pips1\nThe Man with? the Twisted Lip\nThe Adventure of the Blue Carbuncle\nThe Adventure of the Speckled Band\nThe Adventure of the Engineer's Thumb\nThe Adventure of the Noble Bachelor\nThe Adventure of the Beryl Coronet\nThe Adventure of the Copper Beeches"

### String'i df/array/series e çevirmek

In [35]:
metin.split()

['A',
 'Scandal',
 'in',
 'Bohemia!',
 '01',
 'The',
 'Red-headed',
 'League,2',
 'A',
 'Case,',
 'of',
 'Identity',
 '33',
 'The',
 'Boscombe',
 'Valley',
 'Mystery4',
 'The',
 'Five',
 'Orange',
 'Pips1',
 'The',
 'Man',
 'with?',
 'the',
 'Twisted',
 'Lip',
 'The',
 'Adventure',
 'of',
 'the',
 'Blue',
 'Carbuncle',
 'The',
 'Adventure',
 'of',
 'the',
 'Speckled',
 'Band',
 'The',
 'Adventure',
 'of',
 'the',
 "Engineer's",
 'Thumb',
 'The',
 'Adventure',
 'of',
 'the',
 'Noble',
 'Bachelor',
 'The',
 'Adventure',
 'of',
 'the',
 'Beryl',
 'Coronet',
 'The',
 'Adventure',
 'of',
 'the',
 'Copper',
 'Beeches']

In [36]:
metin.split("\n")

['',
 'A Scandal in Bohemia! 01',
 'The Red-headed League,2',
 'A Case, of Identity 33',
 'The Boscombe Valley Mystery4',
 'The Five Orange Pips1',
 'The Man with? the Twisted Lip',
 'The Adventure of the Blue Carbuncle',
 'The Adventure of the Speckled Band',
 "The Adventure of the Engineer's Thumb",
 'The Adventure of the Noble Bachelor',
 'The Adventure of the Beryl Coronet',
 'The Adventure of the Copper Beeches']

In [37]:
v_metin = metin.split("\n")

In [38]:
#Vektör işlemi yaptık.
import pandas as pd
v = pd.Series(v_metin)
v

0
1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [39]:
metin_vektoru = v[1:len(v)]

In [40]:
metin_vektoru

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
dtype: object

In [41]:
metin_df = pd.DataFrame(metin_vektoru,columns=["metinler"])

In [42]:
metin_df

                                 metinler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

## Büyük-Küçük Harf

In [43]:
copy_mdf = metin_df.copy()
copy_mdf

                                 metinler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [44]:
list1 = [1,2,3]

In [45]:
# birleştirme işlemi yaptık.
str1 = "*".join(str(i) for i in list1)

In [46]:
str1

'1*2*3'

In [47]:
copy_mdf = copy_mdf["metinler"].apply(lambda x: " ".join(x.lower() for x in x.split()))

In [48]:
copy_mdf.apply(lambda x: "".join(x.lower())) # yukarıdaki ile aynı işlemi görüyor.

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: metinler, dtype: object

In [49]:
copy_mdf

1                  a scandal in bohemia! 01
2                   the red-headed league,2
3                    a case, of identity 33
4              the boscombe valley mystery4
5                     the five orange pips1
6             the man with? the twisted lip
7       the adventure of the blue carbuncle
8        the adventure of the speckled band
9     the adventure of the engineer's thumb
10      the adventure of the noble bachelor
11       the adventure of the beryl coronet
12      the adventure of the copper beeches
Name: metinler, dtype: object

## Noktalama İşaretlerinin Silinmesi

In [50]:
c_mdf = copy_mdf.str.replace("[^\w\s]","")

In [51]:
c_mdf

1                  a scandal in bohemia 01
2                    the redheaded league2
3                    a case of identity 33
4             the boscombe valley mystery4
5                    the five orange pips1
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: metinler, dtype: object

## Sayıların Silinmesi

In [52]:
c_mdf = c_mdf.str.replace("\d","")

In [53]:
c_mdf

1                    a scandal in bohemia
2                     the redheaded league
3                      a case of identity
4              the boscombe valley mystery
5                     the five orange pips
6             the man with the twisted lip
7      the adventure of the blue carbuncle
8       the adventure of the speckled band
9     the adventure of the engineers thumb
10     the adventure of the noble bachelor
11      the adventure of the beryl coronet
12     the adventure of the copper beeches
Name: metinler, dtype: object

## Stopwords 
- Sık kullanılan kelimeler

In [54]:
c_mdf = pd.DataFrame(c_mdf,columns=["metinler"])

In [55]:
c_mdf

                                metinler
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [56]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\halil\anaconda3\lib\site-packages (3.5)
Requirement already satisfied: joblib in c:\users\halil\anaconda3\lib\site-packages (from nltk) (0.17.0)
Requirement already satisfied: click in c:\users\halil\anaconda3\lib\site-packages (from nltk) (7.1.2)
Requirement already satisfied: regex in c:\users\halil\anaconda3\lib\site-packages (from nltk) (2020.10.15)
Requirement already satisfied: tqdm in c:\users\halil\anaconda3\lib\site-packages (from nltk) (4.50.2)

In [57]:
import nltk
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\halil\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [58]:
from nltk.corpus import stopwords

In [59]:
sw = stopwords.words("english")

In [60]:
sw

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [61]:
c_mdf

                                metinler
1                  a scandal in bohemia
2                   the redheaded league
3                    a case of identity
4            the boscombe valley mystery
5                   the five orange pips
6           the man with the twisted lip
7    the adventure of the blue carbuncle
8     the adventure of the speckled band
9   the adventure of the engineers thumb
10   the adventure of the noble bachelor
11    the adventure of the beryl coronet
12   the adventure of the copper beeches

In [62]:
c_mdf["metinler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: metinler, dtype: object

In [63]:
c_mdf = c_mdf["metinler"].apply(lambda x: " ".join(x for x in x.split() if x not in sw))

In [64]:
c_mdf

1               scandal bohemia
2              redheaded league
3                 case identity
4       boscombe valley mystery
5              five orange pips
6               man twisted lip
7      adventure blue carbuncle
8       adventure speckled band
9     adventure engineers thumb
10     adventure noble bachelor
11      adventure beryl coronet
12     adventure copper beeches
Name: metinler, dtype: object

## Az Geçen Kelimelerin Silinmesi

In [65]:
cpy_mdf = pd.DataFrame(metin_vektoru,columns=["hikayeler"])
cpy_mdf

                                hikayeler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [66]:
# kelime sayılarını gösterdik.
pd.Series(" ".join(cpy_mdf["hikayeler"]).split()).value_counts()

The           10
of             7
the            7
Adventure      6
A              2
Speckled       1
Case,          1
Coronet        1
Pips1          1
Five           1
Band           1
Mystery4       1
Copper         1
Twisted        1
Lip            1
Valley         1
Noble          1
Blue           1
Bohemia!       1
Red-headed     1
League,2       1
Orange         1
Beryl          1
Carbuncle      1
Boscombe       1
Beeches        1
Scandal        1
33             1
with?          1
Man            1
Bachelor       1
Thumb          1
01             1
Identity       1
in             1
Engineer's     1
dtype: int64

In [67]:
# yukarıda kelime sayılarının son üç kelimesini gösterdik
sil = pd.Series(" ".join(cpy_mdf["hikayeler"]).split()).value_counts()[-3:]

In [68]:
sil

Identity      1
in            1
Engineer's    1
dtype: int64

In [69]:
# sil değişkenindeki kelimeleri metinimizden çıkardık.
cpy_mdf["hikayeler"].apply(lambda x: " ".join(x for x in x.split() if x not in sil))

1                   A Scandal Bohemia! 01
2                 The Red-headed League,2
3                           A Case, of 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9              The Adventure of the Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches
Name: hikayeler, dtype: object

## Tokenization
- Cümleyi kelimelere ayırmaktır. Yani yeni bir vektör liste oluşturmaktır.

In [77]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\halil\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [78]:
import textblob

In [79]:
from textblob import TextBlob

In [80]:
TextBlob(cpy_mdf["hikayeler"][1]).words

WordList(['A', 'Scandal', 'in', 'Bohemia', '01'])

In [87]:
cpy_mdf["hikayeler"].apply(lambda x: TextBlob(x).words)

1                      [[A, Scandal, in, Bohemia, 01]]
2                        [[The, Red-headed, League,2]]
3                        [[A, Case, of, Identity, 33]]
4                  [[The, Boscombe, Valley, Mystery4]]
5                         [[The, Five, Orange, Pips1]]
6                [[The, Man, with, the, Twisted, Lip]]
7         [[The, Adventure, of, the, Blue, Carbuncle]]
8          [[The, Adventure, of, the, Speckled, Band]]
9     [[The, Adventure, of, the, Engineer, 's, Thumb]]
10        [[The, Adventure, of, the, Noble, Bachelor]]
11         [[The, Adventure, of, the, Beryl, Coronet]]
12        [[The, Adventure, of, the, Copper, Beeches]]
Name: hikayeler, dtype: object

## Stemming 
- Bir kelimeyi köklerine ayırmayı ifade ediyor.

In [82]:
from nltk.stem import PorterStemmer
st = PorterStemmer()

In [91]:
cpy_mdf["hikayeler"].apply(lambda x: " ".join([st.stem(i) for i in x.split()]))

1                A scandal in bohemia! 01
2                   the red-head league,2
3                     A case, of ident 33
4             the boscomb valley mystery4
5                    the five orang pips1
6             the man with? the twist lip
7       the adventur of the blue carbuncl
8         the adventur of the speckl band
9     the adventur of the engineer' thumb
10      the adventur of the nobl bachelor
11      the adventur of the beryl coronet
12       the adventur of the copper beech
Name: hikayeler, dtype: object

## Lemmatization

In [95]:
from textblob import Word
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\halil\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [98]:
cpy_mdf["hikayeler"].apply(lambda x: " ".join(Word(i).lemmatize() for i in x.split()))

1                  A Scandal in Bohemia! 01
2                   The Red-headed League,2
3                    A Case, of Identity 33
4              The Boscombe Valley Mystery4
5                     The Five Orange Pips1
6             The Man with? the Twisted Lip
7       The Adventure of the Blue Carbuncle
8        The Adventure of the Speckled Band
9     The Adventure of the Engineer's Thumb
10      The Adventure of the Noble Bachelor
11       The Adventure of the Beryl Coronet
12      The Adventure of the Copper Beeches
Name: hikayeler, dtype: object