# Matematiksel İşlemler ve Basit Özellik Çıkarımı

## Harf/Karakter Sayısı

In [1]:
import pandas as pd
metin = """
A Scandal in Bohemia! 01
The Red-headed League,2
A Case, of Identity 33
The Boscombe Valley Mystery4
The Five Orange Pips1
The Man with? the Twisted Lip
The Adventure of the Blue Carbuncle
The Adventure of the Speckled Band
The Adventure of the Engineer's Thumb
The Adventure of the Noble Bachelor
The Adventure of the Beryl Coronet
The Adventure of the Copper Beeches"""
metin
vektor = metin.split("\n")
metin_v = pd.Series(vektor)
metin_v = metin_v[1:len(vektor)]
mdf = pd.DataFrame(metin_v,columns=["metinler"])
mdf

                                 metinler
1                A Scandal in Bohemia! 01
2                 The Red-headed League,2
3                  A Case, of Identity 33
4            The Boscombe Valley Mystery4
5                   The Five Orange Pips1
6           The Man with? the Twisted Lip
7     The Adventure of the Blue Carbuncle
8      The Adventure of the Speckled Band
9   The Adventure of the Engineer's Thumb
10    The Adventure of the Noble Bachelor
11     The Adventure of the Beryl Coronet
12    The Adventure of the Copper Beeches

In [4]:
#boşluklarla beraber toplam karakter uzunlukları
mdf["metinler"].str.len()

1     24
2     23
3     22
4     28
5     21
6     29
7     35
8     34
9     37
10    35
11    34
12    35
Name: metinler, dtype: int64

In [5]:
mdf["harf_sayisi"] = mdf["metinler"].str.len()

In [6]:
# Boşlukda bir harf olarak alınıyor.
mdf

                                 metinler  harf_sayisi
1                A Scandal in Bohemia! 01           24
2                 The Red-headed League,2           23
3                  A Case, of Identity 33           22
4            The Boscombe Valley Mystery4           28
5                   The Five Orange Pips1           21
6           The Man with? the Twisted Lip           29
7     The Adventure of the Blue Carbuncle           35
8      The Adventure of the Speckled Band           34
9   The Adventure of the Engineer's Thumb           37
10    The Adventure of the Noble Bachelor           35
11     The Adventure of the Beryl Coronet           34
12    The Adventure of the Copper Beeches           35

## Kelime Sayısı

In [7]:
a = "A Scandal in Bohemia"

In [9]:
a.split()

['A', 'Scandal', 'in', 'Bohemia']

In [10]:
len(a.split())

4

In [14]:
mdf.iloc[0:1,0:1]

                   metinler
1  A Scandal in Bohemia! 01

In [17]:
# boşlukları çıkararak kelime sayılarını bulduk.
mdf["metinler"].apply(lambda x: len(str(x).split(" ")))

1     5
2     3
3     5
4     4
5     4
6     6
7     6
8     6
9     6
10    6
11    6
12    6
Name: metinler, dtype: int64

In [18]:
mdf["kelime sayısı"] = mdf["metinler"].apply(lambda x: len(str(x).split(" ")))

In [19]:
mdf

                                 metinler  harf_sayisi  kelime sayısı
1                A Scandal in Bohemia! 01           24              5
2                 The Red-headed League,2           23              3
3                  A Case, of Identity 33           22              5
4            The Boscombe Valley Mystery4           28              4
5                   The Five Orange Pips1           21              4
6           The Man with? the Twisted Lip           29              6
7     The Adventure of the Blue Carbuncle           35              6
8      The Adventure of the Speckled Band           34              6
9   The Adventure of the Engineer's Thumb           37              6
10    The Adventure of the Noble Bachelor           35              6
11     The Adventure of the Beryl Coronet           34              6
12    The Adventure of the Copper Beeches           35              6

## Özel Karakterleri Yakalamak & Saydırmak

In [22]:
mdf["metinler"].apply(lambda x: len([x for x in x.split()
                                     if x.startswith("Adventure")]))

1     0
2     0
3     0
4     0
5     0
6     0
7     1
8     1
9     1
10    1
11    1
12    1
Name: metinler, dtype: int64

In [23]:
mdf["özel_karakter_sayisi"] = mdf["metinler"].apply(lambda x: len([x for x in x.split()
                                     if x.startswith("Adventure")]))

In [24]:
mdf

,metinler,harf_sayisi,kelime sayısı,özel_karakter_sayisi
1,A Scandal in Bohemia! 01,24,5,0
2,"The Red-headed League,2",23,3,0
3,"A Case, of Identity 33",22,5,0
4,The Boscombe Valley Mystery4,28,4,0
5,The Five Orange Pips1,21,4,0
6,The Man with? the Twisted Lip,29,6,0
7,The Adventure of the Blue Carbuncle,35,6,1
8,The Adventure of the Speckled Band,34,6,1
9,The Adventure of the Engineer's Thumb,37,6,1
10,The Adventure of the Noble Bachelor,35,6,1
11,The Adventure of the Beryl Coronet,34,6,1
12,The Adventure of the Copper Beeches,35,6,1

## Sayıları Yakalamak & Saydırmak

In [26]:
mdf["metinler"].apply(lambda x: len([x for x in x.split()
                                     if x.isdigit()]))

1     1
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
Name: metinler, dtype: int64

In [29]:
mdf["sayıların_sayisi"] = mdf["metinler"].apply(lambda x: len([x for x in x.split()
                                     if x.isdigit()]))

In [30]:
mdf

,metinler,harf_sayisi,kelime sayısı,özel_karakter_sayisi,Sayıların_sayisi,sayıların_sayisi
1,A Scandal in Bohemia! 01,24,5,0,1,1
2,"The Red-headed League,2",23,3,0,0,0
3,"A Case, of Identity 33",22,5,0,1,1
4,The Boscombe Valley Mystery4,28,4,0,0,0
5,The Five Orange Pips1,21,4,0,0,0
6,The Man with? the Twisted Lip,29,6,0,0,0
7,The Adventure of the Blue Carbuncle,35,6,1,0,0
8,The Adventure of the Speckled Band,34,6,1,0,0
9,The Adventure of the Engineer's Thumb,37,6,1,0,0
10,The Adventure of the Noble Bachelor,35,6,1,0,0
11,The Adventure of the Beryl Coronet,34,6,1,0,0
12,The Adventure of the Copper Beeches,35,6,1,0,0